html,
body {
  min-height: 100vh;
  width: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: max-content;

  @media (max-width: 700px) {
    min-width: fit-content;
    width: auto;
  }
}
